name: github-action-demo # 工作流名称
on:
  push:
    branches:
      - develop # 生效分支
jobs:
  first-github-job: # 任务名称 自定义
    runs-on: ubuntu-latest # 运行环境
    steps:
      - uses: actions/checkout@v3 #复用的 action 会把仓库代码检出到 runner 中。

      - uses: actions/setup-node@v3 # 设置nodejs版本号
        with:
          node-versions: "14.19.1"

      # 连接服务器
      - name: connect host
        uses: appleboy/ssh-action@v0.1.10 # 使用ssh链接服务器
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd /apps/koa-koa
            pwd
            echo "==pull code=="
            git pull origin develop

      # 拉取最新代码
      # - name: pull code
      #   run: |
      #     pwd
      #     echo "===="
      #     git pull origin develop

      # 安装依赖
      - name: install dependencies
        run: |
          cd /apps/koa-koa
          pwd
          npm ci
          npm install pm2 -g

      # 重启项目
      - name: restart project
        run: |
          whereis pm2
          echo "===="
          pm2 ls
          pm2 start koatest.json

# 连接服务器
# 进入项目路径
# git拉取最新代码
# 安装依赖
# 重启项目
# 测试是否成功
